# Checking the historical billings number by major currency

There is a large discrepancy between what I am providing for foreign currency billings and what other tableau reports are demonstrating over the same time period.

Need to look into the billings I received from the historical dataset and compare this to the other data source.

 - Is this due to non-revenue billings?
 - Is this due to recognized billings or service based billings?
 - Did the bililngs change in tableau AFTER I pulled my data?
 - What else could be causing this?

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel('../data/Data_2020_P06/all_billings_inputs.xlsx', sheet_name='base_billings')

In [3]:
df.rename(index = str, columns = {'Document Currency': 'curr',
                                 'Enterprise BU Desc': 'BU',
                                 'Invoice Fiscal Year Period Desc': 'period',
                                 'Product Config Type': 'config',
                                 'Rev Rec Category': 'rev_req_type',
                                 'Rule For Bill Date': 'rebill_rule',
                                 'Completed Sales ( DC )': 'DC_amount',
                                 'Completed Sales': 'US_amount'}, inplace=True)

In [4]:
df.head(10)

,curr,BU,Frequency,period,config,rev_req_type,rebill_rule,Sales Type,Subscription Term,DC_amount,US_amount
0,AED,Creative,NaN,2020-03,1Y,D,YA,DEFERRED,12,0.00,0.00
1,ARS,Creative,NaN,2019-03,1Y,D,NaN,DEFERRED,1,-11291.52,-289.26
2,ARS,Creative,NaN,2019-03,1Y,D,Y3,DEFERRED,1,373766.00,9601.19
3,ARS,Creative,NaN,2019-03,1Y,D,YA,DEFERRED,12,241380.00,6194.45
4,ARS,Creative,NaN,2019-03,MTHLY,D,NaN,DEFERRED,1,-1221.00,-31.07
5,ARS,Creative,NaN,2019-03,MTHLY,D,Y3,DEFERRED,1,45799.00,1173.37
6,ARS,Creative,NaN,2019-04,1Y,D,NaN,DEFERRED,1,-40014.70,-985.24
7,ARS,Creative,NaN,2019-04,1Y,D,Y3,DEFERRED,1,1705471.00,42032.83
8,ARS,Creative,NaN,2019-04,1Y,D,YA,DEFERRED,12,1112854.12,27486.58
9,ARS,Creative,NaN,2019-04,MTHLY,D,NaN,DEFERRED,1,-14292.80,-351.04

#### Filtering out any currencies that are not 'EUR', 'AUD', 'GBP' or 'JPY'

In [10]:
curr_list = ['AUD', 'EUR', 'GBP', 'JPY']
df = df.loc[df['curr'].isin(curr_list)].copy()

In [12]:
df.sample(10)

,curr,BU,Frequency,period,config,rev_req_type,rebill_rule,Sales Type,Subscription Term,DC_amount,US_amount
22278,GBP,Other Solutions,NaN,2018-10,NaN,NaN,NaN,RECOGNIZED,0,-57344.61,-75363.81
19089,GBP,Creative,ONGO,2019-03,NaN,NaN,NaN,RECOGNIZED,0,1578.08,2065.28
15036,EUR,Experience Cloud,1TME,2019-12,OUNIV,NaN,NaN,PRO-SVC-INV,0,65518.00,72766.32
4286,AUD,Print & Publishing,NaN,2016-08,1Y,D,Y3,DEFERRED,1,29931.39,22528.33
17887,EUR,Print & Publishing,NaN,2019-08,2V,NaN,NaN,RECOGNIZED,0,9714.00,10917.74
21728,GBP,Experience Cloud,ONGO,2018-08,1Y,D,Y1,DEFERRED,12,6000.00,7908.84
24331,JPY,Creative,NaN,2016-10,MTHLY,D,Y3,DEFERRED,1,41994620.00,410780.13
19597,GBP,Document Cloud,NaN,2018-02,1Y,D,YQ,DEFERRED,0,3000.00,4050.17
17488,EUR,Print & Publishing,NaN,2017-08,1Y,A,NaN,DEFERRED,1,1525.56,1736.22
15598,EUR,Experience Cloud,ONGO,2016-10,ONORE,D,YQ,DEFERRED,0,136853.63,153505.03

In [13]:
period_list = ['2020-04', '2020-05', '2020-06']
df = df.loc[df['period'].isin(period_list)].copy()

In [15]:
df.sample(10)

,curr,BU,Frequency,period,config,rev_req_type,rebill_rule,Sales Type,Subscription Term,DC_amount,US_amount
18010,EUR,Print & Publishing,NaN,2020-04,NaN,A,NaN,DEFERRED,1,40912.00,45402.46
1213,AUD,Creative,NaN,2020-05,1Y,NaN,YA,DEFERRED,0,155037.48,92944.97
20175,GBP,Document Cloud,NaN,2020-06,MTHLY,D,NaN,DEFERRED,1,-935.10,-1151.68
18013,EUR,Print & Publishing,NaN,2020-04,1V,NaN,NaN,RECOGNIZED,0,6529.00,7226.84
4071,AUD,Experience Cloud,ONGO,2020-05,NaN,NaN,NaN,DEFERRED,0,0.00,0.00
16841,EUR,Experience Cloud,ONGO,2020-05,NaN,NaN,NaN,RECOGNIZED,0,1675672.28,1824424.58
1225,AUD,Creative,NaN,2020-05,MTHLY,D,NaN,DEFERRED,1,-33399.64,-20680.90
2248,AUD,Document Cloud,NaN,2020-05,1Y,D,NaN,DEFERRED,12,810015.47,492881.51
20171,GBP,Document Cloud,NaN,2020-06,1Y,D,YX,DEFERRED,0,8640.00,10570.00
2261,AUD,Document Cloud,NaN,2020-06,NaN,NaN,NaN,RECOGNIZED,0,453114.00,293057.28

In [16]:
df['curr'].value_counts()

EUR    442
GBP    330
AUD    293
JPY    264
Name: curr, dtype: int64

In [17]:
df['period'].value_counts()

2020-04    492
2020-05    449
2020-06    388
Name: period, dtype: int64

In [18]:
df_EUR = df[df['curr']=='EUR'].copy()
df_AUD = df[df['curr']=='AUD'].copy()
df_GBP = df[df['curr']=='GBP'].copy()
df_JPY = df[df['curr']=='JPY'].copy()

In [19]:
df_EUR

,curr,BU,Frequency,period,config,rev_req_type,rebill_rule,Sales Type,Subscription Term,DC_amount,US_amount
12470,EUR,Creative,NaN,2020-04,NaN,NaN,NaN,RECOGNIZED,0,9831.00,10709.50
12471,EUR,Creative,NaN,2020-04,NaN,NaN,NaN,DEFERRED,0,589945.43,652610.60
12472,EUR,Creative,NaN,2020-04,NaN,NaN,NaN,DEFERRED,1,-28.71,-31.29
12473,EUR,Creative,NaN,2020-04,NaN,NaN,NaN,RECOGNIZED,0,913282.62,1008185.97
12474,EUR,Creative,NaN,2020-04,NaN,NaN,Y3,DEFERRED,1,944.16,1028.89
...,...,...,...,...,...,...,...,...,...,...,...
18067,EUR,Print & Publishing,NaN,2020-06,2V,NaN,NaN,RECOGNIZED,0,723.00,783.98
18068,EUR,Print & Publishing,NaN,2020-06,2Y,A,NaN,DEFERRED,0,3078.00,3333.04
18069,EUR,Print & Publishing,NaN,2020-06,MTHLY,D,Y3,DEFERRED,1,55.98,60.92
18070,EUR,Print & Publishing,ONGO,2020-04,1Y,NaN,NaN,DEFERRED,0,0.00,0.00
18071,EUR,Print & Publishing,ONGO,2020-06,1Y,D,YA,DEFERRED,0,24150.00,26151.07

In [21]:
print('total EUR billings', df_EUR['DC_amount'].sum())

total EUR billings 418749449.69000006

In [22]:
df_EUR['rev_req_type'].value_counts()

D    221
A     51
B     11
F      1
Name: rev_req_type, dtype: int64

In [23]:
df_EUR['Sales Type'].value_counts()

DEFERRED       373
RECOGNIZED      60
PRO-SVC-INV      8
NON-REV          1
Name: Sales Type, dtype: int64

In [ ]:
 print(df.groupby(by=["SINID"])["MONTREGL"].sum())

In [25]:
def print_by_type(df):
    rec = df[df['Sales Type']=='RECOGNIZED'].copy()
    svc = df[df['Sales Type']=='PRO-SVC-INV'].copy()
    dfr = df[df['Sales Type']=='DEFERRED'].copy()
    nr = df[df['Sales Type']=='NON-REV'].copy()
    
    print('Total number of billings:              ', len(df), 'DC_amount', df['DC_amount'].sum())
    print("Number of recognized revenue billings: ", len(rec), 'DC_amount', rec['DC_amount'].sum())
    print("Number of service invoiced billings:   ", len(svc), 'DC_amount', svc['DC_amount'].sum())
    print("Number of deferred revenue billings:   ", len(dfr), 'DC_amount', dfr['DC_amount'].sum())
    print("Number of non revenue billings:   ", len(nr), 'DC_amount', nr['DC_amount'].sum())

In [26]:
print_by_type(df_EUR)

Total number of billings:               442 DC_amount 418749449.69000006
Number of recognized revenue billings:  60 DC_amount 14760469.98
Number of service invoiced billings:    8 DC_amount 5004875.42
Number of deferred revenue billings:    373 DC_amount 398998904.28999996
Number of non revenue billings:    1 DC_amount -14800.0

In [32]:
list(np.unique(df['curr']))

['AUD', 'EUR', 'GBP', 'JPY']

In [33]:
list_periods = list(np.unique(df['period']))

In [34]:
list_periods

['2020-04', '2020-05', '2020-06']

In [ ]:
rec = df[df['Sales Type']=='RECOGNIZED'].copy()
svc = df[df['Sales Type']=='PRO-SVC-INV'].copy()
dfr = df[df['Sales Type']=='DEFERRED'].copy()
nr = df[df['Sales Type']=='NON-REV'].copy()

gb_rec = rec.groupby(['curr' 'period'], as_index = False).sum()
gb_svc = svc.groupby(['curr', 'period'], as_index=False).sum()
dfr_b = dfr[dfr['rev_req_type']=='B'].copy()
gb_b = dfr_b.groupby(['curr', 'period'], as_index=False).sum()

# Tyoe A billings
dfr_a = dfr[dfr['rev_req_type']=='A'].copy()

gb_a = dfr_a.groupby(['curr', 'period', 'config'], as_index=False).sum()
config_list = ['1Y', '2Y', '3Y', 'MTHLY']
gb_a_config = gb_a[gb_a['config'].isin(config_list)]
gb_a_dropped = gb_a[~gb_a['config'].isin(config_list)]
gb_a_1Y = gb_a_config[gb_a_config['config']=='1Y'].copy()
gb_a_2Y = gb_a_config[gb_a_config['config']=='2Y'].copy()
gb_a_3Y = gb_a_config[gb_a_config['config']=='3Y'].copy()
gb_a_1M = gb_a_config[gb_a_config['config']=='MTHLY'].copy()

# type D billings
dfr_d = dfr[dfr['rev_req_type']=='D'].copy()
gb_d = dfr_d.groupby(['curr', 'period', 'rebill_rule'], as_index=False).sum()

gb_d_mthly = gb_d[gb_d['rebill_rule'].isin(['Y1', 'Y2', 'Y3', 'YM'])].copy()
gb_d_mthly.drop(labels='rebill_rule', axis=1,inplace=True)
gb_d_mthly = gb_d_mthly.groupby(['curr', 'period']).sum()
gb_d_mthly.reset_index(inplace=True)

gb_d_qtrly = gb_d[gb_d['rebill_rule'].isin(['YQ', 'YY', 'YT'])].copy()
gb_d_qtrly.drop(labels='rebill_rule', axis=1,inplace=True)
gb_d_qtrly = gb_d_qtrly.groupby(['curr', 'period']).sum()
gb_d_qtrly.reset_index(inplace=True)

gb_d_semi_ann = gb_d[gb_d['rebill_rule']=='YH']

gb_d_annual = gb_d[gb_d['rebill_rule'].isin(['YA', 'YC', 'YX'])].copy()
gb_d_annual.drop(labels='rebill_rule', axis=1,inplace=True)
gb_d_annual = gb_d_annual.groupby(['curr', 'period']).sum()
gb_d_annual.reset_index(inplace=True)

gb_d_two_yrs = gb_d[gb_d['rebill_rule']=='Y4']
gb_d_three_yrs = gb_d[gb_d['rebill_rule']=='Y7']


list_df = [gb_rec, gb_svc, gb_b,
           gb_a_1M,    gb_a_1Y,    gb_a_2Y,       gb_a_3Y,
           gb_d_mthly, gb_d_qtrly, gb_d_semi_ann, gb_d_annual, gb_d_two_yrs, gb_d_three_yrs]

list_columns = ['recognized', 'service', 'deferred_B',
        'deferred_1M_a', 'deferred_1Y_a', 'deferred_2Y_a', 'deferred_3Y_a',
        'deferred_1M_d', 'deferred_3M_d', 'deferred_6M_d', 'deferred_1Y_d', 'deferred_2Y_d', 'deferred_3Y_d']